$box-identifier-one: transparent;
$box-identifier-two: transparent;
$logoIcon: url("../../../styles/img/logo.png");

.header-sub-leftbar {
  height: 62px;
}



html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.logo-size {
  width: 20px;
  height: 20px;
}

.logo-size-small {
  width: 30px;
  height: 30px;
}

.app-sidebar {
  background-color: #182c50;
  width: 50px;
  height: 100%;
  text-align: center;
  flex-shrink: 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding-top: 3.0rem;
}


.icon-container-small {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.appIcon {
  content: $logoIcon;
  width: 23px;
  height: 24px;
  cursor: pointer;
  margin-top: 16px;
}

.customIcon {
  margin-top: 30px;
  color: #fff;
}

.customIconAlignBottom {
  width: 50px;
  height: inherit;
  display: -webkit-flex;
  justify-content: center;
  -webkit-flex-direction: column-reverse;
  padding-bottom: 0;
  display: flex;
  flex-direction: column-reverse;
}

.profile-picture-holder {
  background-image: url("https://dialpad.com/avatar/user/agxzfnViZXItdm9pY2VyGAsSC1VzZXJQcm9maWxlGICAqI_hudMKDA.png?version=1e86ca8d587115dac11fd27c63895668");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  line-height: 100px;
  height: 30px;
  margin-top: 10px;
  width: 30px;
  -webkit-border-radius: 50%;
}

.header-top {
  height: 50px;
  width: auto;
  margin: auto;
  background-color: #FBFBFB;
  border-bottom: 1px solid #d1d3d4;
}

.mainContainerCol1 {
  width: 100%;
  height: 100%;
}

.tableCss {
  width: 100%;
  height: 100%;
}

.sidebarCol {
  width: 50px;
  height: 100vh;
}

.mainContentCol {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.homecontainer {
  width: 100%;
  height: 100vh;
}

.nestedCointainer {
  width: 100%;
  position: absolute;
}

.nestedCointainerHeader {
  height: 63px;
  width: auto;
  margin: auto;
  border-bottom: 1px solid #d1d3d4;
}

.nestedCointainerBody {
  width: 100%;
  height: 90%;
}

.account-container-body {
  position: fixed;
  width: calc(100% - 250px);
  height: 100%;
}


#group-info{padding: 0;}
#span_be9e_0{padding-left: 5px;}
#group-abbr{width: 100px; text-transform: uppercase;}
#group-number{width: 140px; margin-bottom: 0;}
#add-fax{margin: 17px 0 0 20px;}
#assignedOperators{ }
#span_be9e_1{font-size: 11px;}
#operator-count{padding: 0 20px 16px;}
#no-operators{ }
#room-phone-help{padding-left: 14px;}
#room-operator-count{padding: 0 20px 16px;}
#room-operators-table{ }
#div_be9e_0{ }
#advancedSettings{ }
#group-call-recording-setting{width:22px}
#div_be9e_1{margin-bottom: 2px}
#call-recording-setting{ }
#div_be9e_2{margin-top: 25px;}
#table_be9e_0{width: auto;}
#td_be9e_0{width: 300px;}
#td_be9e_1{padding-top: 7px;}
#td_be9e_2{width:300px; height: 25px; padding-top: 13px;}
#td_be9e_3{height: 25px; padding-top: 13px;}
#td_be9e_4{text-align: left; height: 50px;}
#td_be9e_5{text-align: right; height: 50px;}
#td_be9e_6{height: 50px; width: 300px;}
#div_be9e_3{margin-right: 5px;}
#div_be9e_4{margin-top: 25px;}
#td_be9e_7{width: 22px;}
#div_be9e_5{margin-bottom: 2px}
#dial-busy-operators{ }
#div_be9e_6{margin-left: 35px;}


#operator-devices-block{width: 840px;}
#div_c160_0{max-width: 460px;}
#div_c160_1{margin-bottom: 2px}
#input-voicemail-notification-group{display: none;}
#div_c160_2{margin-bottom: 2px}
#input-fax-notification-group{display: none;}

#div_a852_0{margin-top: 8px; margin: 20px;}
#div_a852_1{margin-right: 8px;}
#number-label{width: 300px; margin: 0}
#dialog-loading{display: none;}
#edit-did-label{
  margin-bottom: 10px;
}
