#div_d626_0 {
  margin-left: 20px;
}

#div_d626_1 {
  margin-left: 5px;
}

#span_d626_0 {
  white-space: nowrap;
}

.voiceai-user-settings {
  text-align: -webkit-left;
}

.logo-size {
  width: 31px;
  height: 31px;
}
