@font-face {
font-family: 'Brandon Grotesque Light';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Light'), url('./fonts/MarkWeb-Light.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Black';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Black'), url('./fonts/MarkWeb-Medium.woff') format('woff');
}

@font-face {
font-family: 'Brandon Grotesque Bold';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Bold'), url('./fonts/MarkWeb-Bold.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Medium';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Medium'), url('./fonts/MarkWeb-Medium.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Medium Italic'), url('./fonts/MarkWeb-Italic.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Light Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Light Italic'), url('./fonts/MarkWeb-Italic.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Bold Italic'), url('./fonts/MarkWeb-Bold.woff') format('woff');
}

@font-face {
font-family: 'Brandon Grotesque Regular';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Regular'), url('./fonts/MarkWeb.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Regular Italic'), url('./fonts/MarkWeb-Italic.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Thin Italic'), url('./fonts/MarkWeb-Italic.woff') format('woff');
}
