#div_40ee_0 {
  margin-left: 20px;
}

#div_40ee_1 {
  max-width: 90%;
}

#td_40ee_0 {
  padding-left: 10px;
}

#e911-verification-state {
  padding-bottom: 10px;
}

#dialog-loading {
  display: none;
}

.user-e911-address-view-holder {
  text-align: -webkit-left;
}

.logo-size {
  width: 31px;
  height: 31px;
}

#td_b729_0{padding-left: 10px;}
#e911-verification-state{padding-bottom: 10px;}
#dialog-loading{display: none;}
