$box-identifier-one: transparent;
$box-identifier-two: transparent;
$logoIcon: url("../../../styles/img/logo.png");

.header-sub-leftbar {
  height: 62px;
}

#buy-licenses{
      margin-right: 5px !important;
}


html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.logo-size {
  width: 20px;
  height: 20px;
}

.logo-size-small {
  width: 20px;
  height: 20px;
}

.app-sidebar {
  background-color: #182c50;
  width: 50px;
  height: 100%;
  text-align: center;
  flex-shrink: 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding-top: 3.0rem;
}

 
.icon-container-small {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.appIcon {
  content: $logoIcon;
  width: 23px;
  height: 24px;
  cursor: pointer;
  margin-top: 16px;
}

.customIcon {
  margin-top: 30px;
  color: #fff;
}

.customIconAlignBottom {
  width: 50px;
  height: inherit;
  display: -webkit-flex;
  justify-content: center;
  -webkit-flex-direction: column-reverse;
  padding-bottom: 0;
  display: flex;
  flex-direction: column-reverse;
}

.profile-picture-holder {
  background-image: url("https://dialpad.com/avatar/user/agxzfnViZXItdm9pY2VyGAsSC1VzZXJQcm9maWxlGICAqI_hudMKDA.png?version=1e86ca8d587115dac11fd27c63895668");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  line-height: 100px;
  height: 30px;
  margin-top: 10px;
  width: 30px;
  -webkit-border-radius: 50%;
}

.header-top {
  height: 50px;
  width: auto;
  margin: auto;
  background-color: #FBFBFB;
  border-bottom: 1px solid #d1d3d4;
}

.mainContainerCol1 {
  width: 100%;
  height: 100%;
}

.tableCss {
  width: 100%;
  height: 100%;
}

.sidebarCol {
  width: 50px;
  height: 100vh;
}

.mainContentCol {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.homecontainer {
  width: 100%;
  height: 100vh;
}

.nestedCointainer {
  width: 100%;
  position: absolute;
}

.nestedCointainerHeader {
  height: 63px;
  width: auto;
  margin: auto;
  border-bottom: 1px solid #d1d3d4;
}

.nestedCointainerBody {
  width: 100%;
  height: 90%;
}


#manage-accounts-view {
  height: 100% !important;
}

.account-container-body {
  position: fixed;
  width: calc(100% - 250px);
  height: 100%;
}


#div_7f24_0{text-align: right; margin-top: 2px;}
#div_7f24_1{background-color: fff;}
#div_7f24_2{margin-bottom: 0px;}
#div_7f24_3{width: 200px;}
#div_7f24_4{width: 200px;}
#div_7f24_5{margin-bottom: 0px;}
#div_7f24_6{width: 200px;}
#div_7f24_7{width: 300px;}
#div_7f24_8{margin-bottom: 0px;}
#convert-to-yearly{clear: both;margin-top: 10px;}
#div_7f24_9{margin-top: -3px;}
#div_7f24_10{position: relative;}
#div_7f24_11{position: absolute; top: 4px; left: 218px;}
#div_7f24_12{margin-left: 4px; font-size: 14px;}
#div_7f24_13{padding: 0px;}
#no-invoices{padding: 20px 0px; display: none;}
#a_7f24_0{font-size: 14px;}
#a_7f24_1{font-size: 14px;}
#div_7f24_14{padding: 20px 0;}

.master-button {
    margin-right: 10px;
}
