#table_ec1a_0 {
  width: auto;
}

#td_ec1a_0 {
  width: 300px;
}

#td_ec1a_1 {
  padding-top: 7px;
}

#td_ec1a_2 {
  width: 300px;
  height: 25px;
  padding-top: 13px;
}

#td_ec1a_3 {
  height: 25px;
  padding-top: 13px;
}

#td_ec1a_4 {
  text-align: left;
  height: 50px;
}

#td_ec1a_5 {
  text-align: right;

}

#td_ec1a_6 {
  height: 50px;
  width: 300px;
}

#div_ec1a_0 {
  margin-right: 5px;
}

#td_ec1a_7 {
  height: 50px;
}

#div_ec1a_1 {
  margin-bottom: 2px;
}

#input-voicemail-notification-user {
  display: none;
}

#div_ec1a_2 {
  margin-top: 20px;
}

#hide-user-advanced-options {
  font-size: 18px;
}

#div_ec1a_3 {
  max-width: 800px;
}

#div_ec1a_4 {
  margin: 10px 0;
}

#ring-duration-slider-view {
  padding: 20px;
}

#div_ec1a_5 {
  left: -0.857143px;
}

#div_ec1a_6 {
  left: 0;
}

#div_ec1a_7 {
  margin-top: 25px;
}

#div_ec1a_8 {
  margin-bottom: 5px;
}

#div_ec1a_9 {
  margin-bottom: 15px;
}

#div_ec1a_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}


#div_ec1a_11 {
  margin-top: 10px;
  margin-bottom: 10px;
}



#table_ec1a_1 {
  width: auto;
}

#td_ec1a_8 {
  width: 300px;
}

#td_ec1a_9 {
  padding-top: 7px;
}

#td_ec1a_10 {
  width: 300px;
  height: 25px;
  padding-top: 13px;
}

#td_ec1a_11 {
  height: 25px;
  padding-top: 13px;
}

#td_ec1a_12 {
  text-align: left;
  height: 50px;
}

#td_ec1a_13 {
  text-align: right;
  height: 50px;
}

#td_ec1a_14 {
  height: 50px;
  width: 300px;
}

#div_ec1a_12 {
  margin-right: 5px;
}

#div_ec1a_13 {
  margin-top: 10px;
  margin-bottom: 10px;
}



#input_ec1a_0 {
  width: 235px;
}

#div_ec1a_14 {
  margin-top: 10px;
  margin-bottom: 10px;
}



.user-uvmc-view-holder {
  text-align: -webkit-left;
}

.user-uvmc-view-holder span{
display:  inline !important;
  font-size: 1.5rem !important;
}

.web-admin-section-child-view-holder {
  padding-top: 4.0rem;
}

.logo-size {
  width: 31px;
  height: 31px;
}



.slider-tooltip{
color: black;
font-size: 1.2rem;
margin-bottom: -2.5rem;
}

.adv-opt-radio-body{

margin-left: 4rem;
}

.adv-opt-radio-body input{
  margin-bottom: 0 !important;
}

.call-handling-radio-group{
  display:table !important;
}

.call-handling-radio-group span{
  display:table-cell !important;
  vertical-align:middle;
  font-size: 1.5rem !important;
}

#td_d784_0{height: 50px}
#div_d784_0{margin-bottom: 2px}
#input-voicemail-notification-user{display: none;}

.custom-input-file{
  width: 100px;
  height : 100px;
  background-color :  red;
}



#div_4e6b_0{margin-bottom: 15px;}
#div_4e6b_1{margin-top: 10px; margin-bottom: 10px;}

#div_4e6b_2{margin-top: 10px; margin-bottom: 10px;}

#table_4e6b_0{width: auto;}
#td_4e6b_0{width: 300px;}
#td_4e6b_1{padding-top: 7px;}
#td_4e6b_2{width:300px; height: 25px; padding-top: 13px;}
#td_4e6b_3{height: 25px; padding-top: 13px;}
#td_4e6b_4{text-align: left; height: 50px;}
#td_4e6b_5{text-align: right; height: 50px;}
#td_4e6b_6{height: 50px; width: 300px;}
#div_4e6b_3{margin-right: 5px;}
#div_4e6b_4{margin-top: 10px; margin-bottom: 10px;}

#input_4e6b_0{width: 235px;}
#div_4e6b_5{margin-top: 10px; margin-bottom: 10px;}


.emptySpace{
min-height: 120px;
}


.marginFix{
  margin-left: -5px;
}
